.idea
.sass-cache
templates_c
node_modules
local_config.php
engine/smarty/System/
public/app/
config.php
bundle.min.js

#com.bookiebot
com.bookiebot/.idea
com.bookiebot/sass-cache
com.bookiebot/templates_c
com.bookiebot/node_modules
com.bookiebot/local_config.php
com.bookiebot/engine/smarty/System/
com.bookiebot/public/app/
com.bookiebot/config.php
com.bookiebot/bundle.min.js

#com.bookiebot.affiliates
com.bookiebot.affiliates/.idea
com.bookiebot.affiliates/node_modules
# Elastic Beanstalk Files
com.bookiebot.affiliates/.elasticbeanstalk/*
com.bookiebot.affiliates/!.elasticbeanstalk/*.cfg.yml
com.bookiebot.affiliates/!.elasticbeanstalk/*.global.yml
com.bookiebot.affiliates/npm-debug.log

#com.bookiebot.api
com.bookiebot.api/idea
com.bookiebot.api/local_config.php
com.bookiebot.api/config.php
com.bookiebot.api/*.log
com.bookiebot.api/vendor
com.bookiebot.api/logs

#com.bookiebot.backoffice
com.bookiebot.backoffice/.idea
com.bookiebot.backoffice/DOCUMENTS
com.bookiebot.backoffice/templates_c
com.bookiebot.backoffice/BetradarXML
com.bookiebot.backoffice/BetradarXML/cron.txt
com.bookiebot.backoffice/node_modules

#com.bookiebot.html
com.bookiebot.html/*.iml
com.bookiebot.html/.idea
com.bookiebot.html/.idea/
com.bookiebot.html/.idea/*.xml
com.bookiebot.html/.sass-cache
com.bookiebot.html/.sass-cache/
com.bookiebot.html/.editorconfig

#com.bookiebot.integrations
com.bookiebot.integrations/node_modules
com.bookiebot.integrations/public/storage
com.bookiebot.integrations/vendor
com.bookiebot.integrations/.idea
com.bookiebot.integrations/Homestead.json
com.bookiebot.integrations/Homestead.yaml
com.bookiebot.integrations/.env
com.bookiebot.integrations/_docs
com.bookiebot.integrations/log.txt
com.bookiebot.integrations/vendor

#com.bookiebot.parsing
com.bookiebot.parsing/BetradarXML
com.bookiebot.parsing/response.txt
com.bookiebot.parsing/.idea
com.bookiebot.parsing/vendor



