.navbar-blue {
	background-color: #0e5496;
	border-width: 0;

	.navbar-brand {
		background: image-url('logo.png') no-repeat center center;
		width: image-width('logo.png');
		height: 50px;
		text-indent: -9999px;
		margin-right: 30px;

		&:hover {
			@include opacity(0.7);
		}
	}


	.navbar-brand.betplanet {
		background: image-url('betplanet.png') no-repeat center center !important;
		width: image-width('betplanet.png') !important;
	}

	.navbar-brand.bookiebot {
		background: image-url('bookiebot.png') no-repeat center center !important;
		width: image-width('bookiebot.png') !important;
	}



}

.navbar {
	border: 0;

	.navbar-form {
		padding-right: 0;
		margin-top: 13px;
	}
}

.navbar-top {
	margin-left: 10px;

	li {
		a {
			font-size: 11px;
			color: #96bcdf;
		}

		&:hover,
		&.active {
			a {
				background: transparent;
				color: white;
			}
		}
	}
}

.navbar-icons {

//	@include box-shadow(1px 0 0 0 rgba(black, 0.25), 2px 0 0 rgba(white, 0.06));

	li {
		position: relative;
		margin-left: -1px;

		a {
//			@include box-shadow(inset 1px 0 0 0 rgba(black, 0.25), inset 2px 0 0 rgba(white, 0.06));
			@include box-shadow(inset 1px 0 0 0 rgba(black, 0.15), inset -1px 0 0 0 rgba(black, 0.15));
			color: #ffffff;
			text-shadow: 0 1px 0 #082e52;
			position: relative;
			min-width: 50px;

			.icon {
				position: absolute;
				top: 18px;
				right: 18px;
				//@include transition(all 300ms ease-in);
			}

			.text {
				display: inline-block;
				width: 0;
				white-space: nowrap;
				overflow: hidden;
				vertical-align: top;
				//@include transition(all 500ms ease-in);
				@include box-sizing(border-box);
			}

			&:after {
				display: none;
				content: "";
				position: absolute;
				bottom: -6px;
				left: 50%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 8px 0 8px;
				border-color: #0a3b69 transparent transparent transparent;
				margin-left: -8px;
			}
		}

		&.active {
			a {
				background-color: #0a3b69;

				.text {
					width: 100%;
				}


				.icon {
					@include opacity(0);
					display:none;
				}

				&:after {
					display: block;
				}
			}
		}

		&:hover {
			a {
				background-color: #0a3b69;

				.text {
					width: 100%;
				}

				.icon {
					@include opacity(0);
				}

				&:after {
					display: block;
				}
			}
		}
	}
}

.navbar-sub-header {
	@include border-radius(0);
	background-color: #f4f4f4;
	margin-bottom: 0;
	line-height: 48px;

	a {
		color: #5f5f5f;
		text-decoration: none;

		&:hover {
			color: #434343;
		}

		&.blue {
			color: #0f589d;
			font-weight: bold;

			&:hover {
				color: #05447f;
			}
		}
	}
}

.navbar-profile {
	li.dropdown {
		> a {
			background: #2e2e2e;
			color: white;
			border: 1px solid transparent;
			position: relative;
			@include box-sizing(border-box);
			line-height: 18px;
			padding-left: 48px;

			img {
				position: absolute;
				height: 24px;
				width: 24px;
				display: block;
				@include border-radius(3px);
				overflow: hidden;
				top: 12px;
				left: 13px;
			}

			&:after {
				position: absolute;
				display: block;
				background: #2e2e2e;
				height: 2px;
				bottom: -1px;
				right: 0;
				left: 0;
				content: "";
			}

			&:hover,
			&:focus {
				background: #2e2e2e;
				color: white;
			}

			.caret {
				border-top-color: #6d6d6d;
			}
		}

		&.open {
			> a {
				border-color: black;
				z-index: 1001;

				&:after {
					display: block;
				}
			}
		}
	}

	.dropdown-menu {
		background: #2e2e2e;
		padding: 0;
		margin: 0;
		@include border-radius(0);
		@include box-shadow(none);
		border-color: black;
		margin-top: -1px !important;

		> li {
			> a {
				background: transparent;
				color: #bfbfbf;
				@include box-shadow(inset 0 1px 0 0 rgba(black, 0.2), inset 0 2px 0 0 rgba(white, 0.02));
				padding: 10px 15px;
				font-size: 12px;
			}

			&:first-child {

				> a {
					@include box-shadow(none);
				}

				&:active,
				&:hover
				> a {
					@include box-shadow(none);
				}
			}

			&.active,
			&:hover {
				> a {
					@include box-shadow(inset 0 1px 0 0 rgba(black, 0.4), inset 0 2px 0 0 rgba(white, 0.02));
					background: rgba(white, 0.06);
				}
			}
		}
	}
}

.current-time {
	color: #5f5f5f;
	font-size: 13px;
}

.relative {
	position: relative;
	padding-right: 34px !important;
}

.profile-label {
	color: #606060;

	&.cap {
		text-transform: capitalize;
	}


	&.bold {
		font-weight: bold;
	}

	&.blue {
		color: #0e5496;
	}
}

.language-switcher {
	position: absolute;
	top: 13px;
	right: -22px;
	background: #0a3b69;
	@include border-radius(12px);
	@include box-shadow(inset 0 0 0 1px #072b4c);
	overflow: hidden;

	> li:hover {
		.children {
			display: block;
		}
	}

	a {
		padding: 4px;
		display: block;

		&:hover {
			background: rgba(white, 0.05);
		}
	}

	.children {
		display: none;

		a {
			@include box-shadow(inset 0 1px 0 0 rgba(black, 0.2), inset 0 2px 0 0 rgba(white, 0.05));

			&:hover {
				background: rgba(white, 0.05);
				@include box-shadow(inset 0 1px 0 0 rgba(black, 0.3), inset 0 2px 0 0 rgba(white, 0.05));
			}
		}
	}
}
