@media (min-width: 1200px) {

}


@media (min-width: 992px) {
  .left-sidebar {
    width: 20%;
  }

  .right-sidebar {
    width: 30%;
  }
}


@media (min-width: 768px) {
  .navbar {
    .container {
      .navbar-brand {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .table-responsive {
    border:0;
  }
}